- if render?
  .space-y-3
    - flash_messages.each do |type, message|
      - config = flash_config(type)
      .flex.items-start.gap-3.p-4.rounded-lg.border{ class: "#{config[:bg]} #{config[:text]} #{config[:border]}" }
        = lucide_icon(config[:icon], class: "w-5 h-5 flex-shrink-0 mt-0.5")
        .flex-1
          %p= message
        - if dismissible
          %button.flex-shrink-0.hover:opacity-70{ type: "button", onclick: "this.closest('div').remove()" }
            = lucide_icon("x", class: "w-5 h-5")
