%div{ class: "box rounded-xl p-10 flex flex-col relative bg-[#FEF3E2] #{box_classes}" }
  %div{ class: 'text-5xl font-semibold text-center mb-8 pb-5 border-b-4 border-[#FA812F]' }
    = title

  .flex-1.relative.overflow-hidden{ data: { notice_board_target: 'carousel' } }
    - if has_posts?
      - posts.each_with_index do |post, index|
        = render Display::PostSlideComponent.new(post: post, index: index)

      - if show_dots?
        %div{ class: 'absolute bottom-5 left-1/2 transform -translate-x-1/2 flex gap-3', data: { dots: 'true' } }
          - posts.to_a.each_with_index do |_, i|
            %div{ class: "w-3 h-3 rounded-full transition-colors duration-300 #{i == 0 ? 'bg-orange-600' : 'bg-orange-300'}", data: { dot: 'true' } }
    - else
      .flex-1.flex.items-center.justify-center.text-4xl.text-gray-400.text-center.p-10
        = empty_message