!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title)
      = "| #{t('app.name', default: 'Noticeboard')}"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body.bg-gray-50.min-h-screen
    .flex.h-screen
      / Sidebar
      %aside.w-64.bg-white.border-r.border-gray-200.flex.flex-col
        / Brand Header
        .p-6.border-b.border-gray-200
          %h1.text-2xl.font-bold.text-gray-900= t('app.name', default: 'Noticeboard')
          %p.text-sm.text-gray-500= t('admin.panel', default: 'Panel administratora')
        
        / Navigation
        .flex-1.overflow-y-auto.py-4
          = render Admin::NavigationComponent.new(current_user: current_user)
        
        / User Info at Bottom
        .border-t.border-gray-200.p-4
          = render Admin::UserInfoComponent.new(user: current_user)
      
      / Main Content
      %main.flex-1.overflow-y-auto
        .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8.py-8
          = render FlashComponent.new(flash: flash)
          = yield
